<app-navbar />
<div class="row">
  <!-- <div class="col-md-12 d-flex align-items-center justify-content-center">
    ตอบคำถามการบวกลบเลขเบื้องต้น 101
  </div> -->
  <div
    class="col-md-12 d-flex align-items-center justify-content-center vh-100"
  >
    <button class="btn nav-btn" [disabled]="true">&lt;</button>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <h4>{{ categoryTitle }}</h4>
      <div class="card card-container">
        <h6>ข้อที่ {{ question.sequence }} {{ question.title }}</h6>
        <div
          class="d-flex flex-column answer-group align-items-center justify-content-center"
        >
          <button
            *ngFor="
              let answerInfo of question.questionAnswerInfo;
              let i = index
            "
            (click)="setAnswer(answerInfo.questionAnswerId)"
            [ngClass]="{
              active: answerInfo.questionAnswerId === selectedAnswer
            }"
            class="answer-btn btn"
          >
            {{ i + 1 }}. {{ answerInfo.answer }}
          </button>
        </div>
      </div>
    </div>

    <button class="btn nav-btn" [disabled]="selectedAnswer === ''">&gt;</button>
  </div>
</div>
