<app-navbar />
<app-timeup [show]="isTimeUp" [answers]="finalAnswers" />
<div class="row">
  <div
    class="col-md-12 d-flex align-items-center justify-content-center vh-100"
  >
    <div class="d-flex flex-column align-items-center justify-content-center">
      <h6>{{ categoryTitle }}</h6>
      <!-- <h2>{{ question.sequence }} / {{ totalQuestion }}</h2> -->
      <div class="quiz-group">
        <button
          *ngFor="let id of quizIds"
          id="quiz_{{ id }}"
          class="btn quiz-btn"
          (click)="goTo(id)"
          [ngClass]="{
            active: id === currentQuiz,
            done: isAlreadyAnswer(id)
          }"
        >
          {{ id }}
        </button>
      </div>
      <div class="card card-container">
        <div id="progressBar">
          <div class="bar" [style.width.px]="progressBarWidth"></div>
        </div>
        <h5>ข้อที่ {{ question.sequence }} {{ question.title }}</h5>
        <div
          class="d-flex flex-column answer-group align-items-center justify-content-center"
        >
          <button
            *ngFor="
              let answerInfo of question.questionAnswerInfo;
              let i = index
            "
            (click)="setAnswer(answerInfo.questionAnswerId)"
            [ngClass]="{
              active: selectedAnswer.indexOf(answerInfo.questionAnswerId) > -1
            }"
            class="answer-btn btn"
          >
            {{ i + 1 }}. {{ answerInfo.answer }}
          </button>
          <div class="row nav-btn-group">
            <button
              class="btn col-6"
              [disabled]="currentQuiz == 1"
              (click)="previous()"
            >
              &lt; Previous
            </button>
            <button
              class="btn col-6"
              [disabled]="
                selectedAnswer.length === 0 ||
                (currentQuiz === totalQuestion && isAllAnswer)
              "
              (click)="next()"
            >
              {{ currentQuiz === totalQuestion ? "Submit" : "Next &gt;" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
