$color1: #fbe394;
$color2: #1c1b33;

.card-container.card {
  width: 50vw;
  height: auto;
  max-height: 70vh;
  overflow-y: scroll;
  padding: 5px 35px 35px 35px;
}

.quiz-group {
  display: flex;
  max-width: 50vw;
  overflow-y: auto;
}

.card {
  background-color: $color2;
  color: #f7f7f7;
  padding: 25px 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 10px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

#progressBar {
  width: 100%;
  margin: 15px auto;
  height: 5px;
  background-color: #f7f7f760;
  border-radius: 50px;
}

#progressBar .bar {
  height: 100%;
  text-align: right;
  line-height: 22px; /* same as #progressBar height if we want text middle aligned */
  background-color: $color1;
  box-sizing: border-box;
  border-radius: 50px;
}

.answer-group {
  width: 100%;
}

.btn {
  padding: 15px 25px;
  margin-top: 20px; /* Adjust the value as needed */
  background-color: $color2;
  color: $color1;
  border-color: $color1;
  transition: all 0.3s ease;
  text-align: start;
}
.btn:hover {
  background-color: $color1;
  color: $color2;
  border-color: $color2;
}
.btn.active {
  background-color: $color1;
  color: $color2;
  border-color: $color2;
}

.quiz-btn {
  margin: 10px 5px;
  background-color: #f7f7f7;
  color: $color2;
  border: none;
  box-shadow: 0 2px 2px #888888;
  width: 40px;
  height: 40px;
  padding: 0px;
  text-align: center;
  border-radius: 20px;
}
.quiz-btn:hover {
  background-color: $color1;
  color: $color2;
  border-color: $color1;
}
.quiz-btn.done {
  background-color: $color1;
}
.quiz-btn.active {
  background-color: $color2;
  color: $color1;
  border-color: $color2;
}

.answer-btn {
  width: 80%;
}

.nav-btn-group {
  width: 80%;
}

.nav-btn-group .btn {
  background-color: $color1;
  color: $color2;
  text-align: center;
  border: none;
  border-radius: 30px;
}

.nav-btn-group .btn:hover {
  font-weight: bold;
}

.nav-btn-group .btn:first-child {
  background-color: $color2;
  color: $color1;
}

@media only screen and (max-width: 770px) {
  .card-container.card {
    width: auto;
    max-width: 90vw;
  }

  .quiz-group {
    display: flex;
    max-width: 90vw;
    overflow-y: auto;
  }

  .quiz-btn {
    min-width: 40px;
    min-height: 40px;
  }

  .answer-btn {
    width: 70vw;
  }

  .nav-btn-group {
    width: 100%;
  }
}
