$color1: #fbe394;
$color2: #1c1b33;

@keyframes beedance {
  0% {
    margin-bottom: 0px;
    margin-left: 0px;
    transform: rotate(0deg);
  }
  30% {
    margin-bottom: 35px;
    margin-left: 40px;
    transform: rotate(-15deg);
  }
  60% {
    margin-bottom: 40px;
    margin-left: 30px;
    transform: rotate(5deg);
  }
  80% {
    margin-bottom: 20px;
    margin-left: 15px;
    transform: rotate(-5deg);
  }
  100% {
    margin-bottom: 0px;
    margin-left: 0px;
    transform: rotate(0deg);
  }
}

label {
  display: block;
  margin-top: 10px;
}

.logo-img {
  content: url("@assets/images/bee.png");
  width: 30vw;
  height: auto;
  animation-name: beedance;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.card-container.card {
  width: 25vw;
  height: auto;
  padding: 35px 35px;
}

.card {
  background-color: $color2;
  color: #f7f7f7;
  padding: 25px 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 10px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

input:not(is-invalid):focus {
  border-color: $color1;
  box-shadow: 0 0 0 0.15rem $color1;
}

.btn {
  margin-top: 20px; /* Adjust the value as needed */
  background-color: $color1;
  transition: all 0.3s ease;
}
.btn:hover {
  color: $color1;
  border-color: $color1;
}

.align-right {
  float: right;
}

@media only screen and (max-width: 770px) {
  .card-container.card {
    width: auto;
  }

  .mobile-hidden {
    display: none !important;
  }
}
