<app-navbar />
<div class="row">
  <div
    class="col-md-12 d-flex align-items-center justify-content-center vh-100"
  >
    <div class="card card-container">
      <h1>Q<span>uestion</span> L<span>ist</span></h1>
      <div
        class="d-flex flex-column question-group align-items-center justify-content-center"
      >
        <button
          *ngFor="let category of categories; let i = index"
          (click)="goToQuiz(category)"
          class="question-btn btn"
        >
          {{ i + 1 }}. {{ category.title }}
        </button>
      </div>
    </div>
  </div>
</div>
